.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card styles */
.computer-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 500px;
    text-align: left;
  }
  
  /* Centering styles */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  